body {
	margin: 0;
}




/* header */


#header {
	background-color: rgb(255, 80, 80);
	text-align: center;
	margin: 0;
	padding: 10px 0 5px 0;


}

#header h1 {
	margin: 0;
	color: white;
	text-transform: uppercase;
}

#header h2 {
	color: white;
	text-transform: uppercase;
}

#header h1 a {
text-decoration: none;
}

#header h2 a {
text-decoration: none;
}


/* nav */

#nav {
	background-color:  rgb(255, 80, 50);
}

#nav ul {
 margin: 0;
	text-align: center;
	list-style-type: none;
	padding:  0;
}

#nav ul li {
	display: inline-block;
	margin: 10px 0;
	text-transform: uppercase;
	padding: 0;
}

#nav ul li a:hover {
	background-color: rgb(290, 100, 80);
}

#nav ul li a {
	text-decoration: none;
	width:50px;
	padding: 0 10px;
	color: white;

}

/* content */

#content {
	text-align: center;
}

#content p {
	margin: 10px auto;
	width: 400px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 20px;
	font-style: italic;
	border-bottom: 3px solid  rgb(255, 80, 50);
}

#content img {
	width: 500px;
}